
// BOOTSTRAP ORIGINAL VARIABLES*/
@import "/Applications/MAMP/framework/bootstrap-4.0.0-beta.2/scss/functions";
@import "/Applications/MAMP/framework/bootstrap-4.0.0-beta.2/scss/variables";
@import "/Applications/MAMP/framework/bootstrap-4.0.0-beta.2/scss/mixins";


$font: 'Roboto', sans-serif;
$title-font: 'Inconsolata', monospace;
$main-color: #E73C59;
$title-color: #444;
$body-color: #666;
$pf-background-color: #f7f7fa;
$border-color: #ccc;

// CONTROL CLASSES - I use those classes as a helpers while building the layout.

.blue {
	background-color: rgba(50,50,200, .2);
}

.red{
	background-color: rgba(255,0,0, .2) !important;
}

.green{
	background-color: rgba(0,200,0, .2);
}

.white{
	background-color: white;
}

.no-border{
	border: 0 !important;
}

// Ruler usage: comment out the "Display: none;" 
// And you'll get a free green ruler that you can move through
// your browser's inspector.
// This is usefull to tell if elements align well.
.ruler{
	height: 1px;
	width: 100%;
	background-color: green;
	position: absolute;
	z-index: 999999999;
	top: 500px;
	display: none;
}

// BASICS
body {
    opacity: 1;
    transition: .2s opacity;
    transition-timing-function: linear;
    position: relative;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $title-font;
}

p{
	font-family: $font;
	color: $body-color;
	font-size: 1em;
}

a {
	color: $main-color;
}

a:hover{
	color: $main-color;
}


// PORTFOLIO SPECIFIC CODE /////////////////////////////
body {
	font-family: $font;
	letter-spacing: .04rem;
	font-size: 1em;
    background-color: $pf-background-color;
    color: #333;
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
}

.fix-height{
	height: 100%;
}

.pf-pull{

}

.pf-nav{
	z-index: $zindex-sticky;
	width: 100%;
}

// Shrink Navigation
.shrink-nav {
	height: 60px !important;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15), 0 1px 1px rgba(0,0,0,0.05) !important;
}

.pf-icon-shrink {
    width: 40px !important;
}

.pf-name-shrink{
	line-height: 12px;
	font-size: 90% !important;
}

.pf-invisible{
	opacity: 0 !important;
	pointer-events: none;
}

// Navbar Brand
.title{
    transition:all ease-out .5s;
}

.pf-icon{
	width: 64px;
	transition:all ease-out .5s;
}

.brand-name{
	display: block;
	position: relative;
	left: 10px;
	top: 14px;
	width: 202px;
	.name{
		position: relative;
		top:0px;
		font-size: 1.12em;
		font-weight: 700;
		color: $title-color;
		transition:all ease-out .5s;
	}

	.title{
		font-size: .69em;
		color: $body-color;
	}
}

a:hover{
	color: $main-color !important;
}

// MOBILE MENU

.pf-mobile-menu-wrap{
	visibility: visible;
	position: fixed;
	top: 90;
	z-index: $zindex-dropdown;
	height: 100%;
	width: 100%;
	opacity: 1;
	transition:all ease-out .3s;
}

.pf-mobile-menu{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: white;
	text-align: center;
	top: -30px;
	ul{
		padding-left: 0;
	}

	li{
		display: block !important;
		border-bottom: 1px solid rgba(0,0,0,.1);
	}

	li:last-child{
		border-bottom: 0;
	}

	a{	
		display: block;
		padding: 30px 0;
		width: 400px;	
	}

	@include media-breakpoint-down(sm) {
		a{	
			padding: 20px 0;
			width: 300px;
		}
	}

	@media (min-width: 300px) and (orientation:landscape) {
		a{	
			padding: 6px 0;
			width: 300px;
		}

		li{
			border-bottom: 0;
		}
		

	}
}


// Wordpress Menu

.custom-menu-class{
	ul{
		margin-bottom:0;
	}
}

.menu{
	li{
	display: inline-block;
	padding: 0 12px;
	}

	@include media-breakpoint-down(lg) {

	}

	@include media-breakpoint-down(md) {
		li{display: block;}
	}

	@include media-breakpoint-down(sm) {

	}
}

.custom-menu-class{
	color: blue;
}

.menu-item a{
	color: $body-color;
}

.active{
	a{
	color: $main-color !important;
	}
}

// Hero Statement: The (un)funny sentence at home
.hero-statement{
	border-radius: 4px;
	background-color: #3b4044;
	padding: 60px;

	h2{
		color: #fdcb6e;
	}

	h2:before{
		content:open-quote;
		color: white;
	}

	h2:after{
		content:close-quote;
		color: white;
	}

	b{
		color: #ea735b;
		font-weight: 700;
	}

	p{

		font-family: $title-font;
		color: #b2bec3;
		margin-bottom: 0;
	}

	@include media-breakpoint-down(lg) {

	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
		padding: 40px;
	}

}


// Post Specific 
.post-title{
	margin: 40px auto;
	width: 70%;
	text-align: center;

	h2{
		color: $title-color;
    	font-family: $title-font;
    	font-weight: 700;
	}

	p{
		font-weight: 300;
	}

	h2:before{
		content: "// "
	}

	@include media-breakpoint-down(lg) {
		width: 80%;			
	}

	@include media-breakpoint-down(md) {
		width: 90%;
	
	}

	@include media-breakpoint-down(sm) {
		h2{
			font-size: 1.9rem;
		}
		margin: 20px auto;
		width: 100%;
	}
}

.post-content{
	margin: 20px auto;

	p, h1, h2, h3, h4, h5, h6, ul{	
		width: 70%;
	}

	p{	
		margin: 0 auto 40px;
		font-weight: 300;
	}

	h1,h2,h3,h4,h5,h6{
		margin: 0 auto 10px;
		font-weight: 700;
	}

	img{
		margin-bottom: 40px;
	}

	ul{
		margin: 0 auto 40px;
		font-weight: 300;

		b{
			font-weight: 700;
		}
	}

	@include media-breakpoint-down(lg) {
		p, h1, h2, h3, h4, h5, h6, ul{	
			width: 80%;
		}
		
	}

	@include media-breakpoint-down(md) {
		p, h1, h2, h3, h4, h5, h6, ul{	
			width: 90%;
		}
		
	}

	@include media-breakpoint-down(sm) {
		p, h1, h2, h3, h4, h5, h6, ul{	
			width: 100%;
		}

		img{
			margin-bottom: 10px;
		}

		h1,h2,h3,h4,h5,h6{
			margin-top: 10px;
		}

		p{	
			margin: 0 auto 20px;
		}

		ul{	
			margin: 0 auto 20px;
		}

	}
}


// Footer
.pf_footer{
	height: 70px;
	p{
	padding-top: 10px;
	border-top: 1px solid $border-color;
	font-family: $title-font;
	}
}


//
@import "portfolio-wordpress mods";
@import "portfolio-bootstrap mods";
//
