.blue {
  background-color: rgba(50, 50, 200, 0.2); }

.red {
  background-color: rgba(255, 0, 0, 0.2) !important; }

.green {
  background-color: rgba(0, 200, 0, 0.2); }

.white {
  background-color: white; }

.no-border {
  border: 0 !important; }

.ruler {
  height: 1px;
  width: 100%;
  background-color: green;
  position: absolute;
  z-index: 999999999;
  top: 500px;
  display: none; }

body {
  opacity: 1;
  transition: .2s opacity;
  transition-timing-function: linear;
  position: relative; }

body.fade-out {
  opacity: 0;
  transition: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Inconsolata", monospace; }

p {
  font-family: "Roboto", sans-serif;
  color: #666;
  font-size: 1em; }

a {
  color: #E73C59; }

a:hover {
  color: #E73C59; }

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: .04rem;
  font-size: 1em;
  background-color: #f7f7fa;
  color: #333;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased; }

.fix-height {
  height: 100%; }

.pf-nav {
  z-index: 1020;
  width: 100%; }

.shrink-nav {
  height: 60px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.05) !important; }

.pf-icon-shrink {
  width: 40px !important; }

.pf-name-shrink {
  line-height: 12px;
  font-size: 90% !important; }

.pf-invisible {
  opacity: 0 !important;
  pointer-events: none; }

.title {
  -webkit-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  /* easeOutCubic */ }

.pf-icon {
  width: 64px;
  -webkit-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  /* easeOutCubic */ }

.brand-name {
  display: block;
  position: relative;
  left: 10px;
  top: 14px;
  width: 202px; }
  .brand-name .name {
    position: relative;
    top: 0px;
    font-size: 1.12em;
    font-weight: 700;
    color: #444;
    -webkit-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    /* easeOutCubic */ }
  .brand-name .title {
    font-size: .69em;
    color: #666; }

a:hover {
  color: #E73C59 !important; }

.pf-mobile-menu-wrap {
  visibility: visible;
  position: fixed;
  top: 90;
  z-index: 1000;
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  /* easeOutCubic */ }

.pf-mobile-menu {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center; }
  .pf-mobile-menu ul {
    padding-left: 0; }
  .pf-mobile-menu li {
    display: block !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .pf-mobile-menu li:last-child {
    border-bottom: 0; }
  .pf-mobile-menu a {
    display: block;
    padding: 30px 0;
    width: 400px; }
  @media (max-width: 767px) {
    .pf-mobile-menu a {
      padding: 20px 0;
      width: 300px; } }
  @media (min-width: 300px) and (orientation: landscape) {
    .pf-mobile-menu a {
      padding: 6px 0;
      width: 300px; }
    .pf-mobile-menu li {
      border-bottom: 0; } }

.custom-menu-class ul {
  margin-bottom: 0; }

.menu li {
  display: inline-block;
  padding: 0 8px; }

@media (max-width: 991px) {
  .menu li {
    display: block; } }

.custom-menu-class {
  color: blue; }

.menu-item a {
  color: #666; }

.active a {
  color: #E73C59 !important; }

@media (max-width: 767px) {
  .hero-statement-hide {
    display: none !important; } }

.hero-statement {
  border-radius: 4px;
  background-color: #3b4044;
  padding: 60px; }
  .hero-statement h2 {
    color: #fdcb6e; }
  .hero-statement h2:before {
    content: open-quote;
    color: white; }
  .hero-statement h2:after {
    content: close-quote;
    color: white; }
  .hero-statement b {
    color: #ea735b;
    font-weight: 700; }
  .hero-statement p {
    font-family: "Inconsolata", monospace;
    color: #b2bec3;
    margin-bottom: 0; }
  @media (max-width: 767px) {
    .hero-statement {
      padding: 40px; } }

.post-title {
  margin: 40px auto;
  width: 70%;
  text-align: center; }
  .post-title h2 {
    color: #444;
    font-family: "Inconsolata", monospace;
    font-weight: 700; }
  .post-title p {
    font-weight: 300; }
  .post-title h2:before {
    content: "// "; }
  @media (max-width: 1199px) {
    .post-title {
      width: 80%; } }
  @media (max-width: 991px) {
    .post-title {
      width: 90%; } }
  @media (max-width: 767px) {
    .post-title {
      margin: 20px auto;
      width: 100%; }
      .post-title h2 {
        font-size: 1.9rem; } }

.post-content {
  margin: 20px auto; }
  .post-content p, .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6, .post-content ul {
    width: 70%; }
  .post-content p {
    margin: 0 auto 40px;
    font-weight: 300; }
  .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    margin: 0 auto 10px;
    font-weight: 700; }
  .post-content img {
    margin-bottom: 40px; }
  .post-content ul {
    margin: 0 auto 40px;
    font-weight: 300; }
    .post-content ul b {
      font-weight: 700; }
  @media (max-width: 1199px) {
    .post-content p, .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6, .post-content ul {
      width: 80%; } }
  @media (max-width: 991px) {
    .post-content p, .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6, .post-content ul {
      width: 90%; } }
  @media (max-width: 767px) {
    .post-content p, .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6, .post-content ul {
      width: 100%; }
    .post-content img {
      margin-bottom: 10px; }
    .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
      margin-top: 10px; }
    .post-content p {
      margin: 0 auto 20px; }
    .post-content ul {
      margin: 0 auto 20px; } }

.pf_footer {
  height: 70px; }
  .pf_footer p {
    padding-top: 10px;
    border-top: 1px solid #ccc;
    font-family: "Inconsolata", monospace; }

#wpadminbar {
  position: fixed !important; }

.container {
  max-width: 1200px;
  padding: 0; }

.navbar {
  height: 90px;
  line-height: 20px;
  box-shadow: 0 2px 6px transparent, 0 1px 1px transparent;
  border-radius: 0px 0px 6px 6px;
  -webkit-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  /* easeOutCubic */ }
  @media (max-width: 1199px) {
    .navbar {
      border-radius: 0; } }

.navbar-light .navbar-nav .nav-link {
  color: #888; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: .6rem;
  padding-left: .6rem;
  text-align: center; }

.navbar-nav {
  font-size: 1em; }

.bg-light {
  background-color: #f7f7fa !important; }

.navbar-light .navbar-toggler {
  background-color: #f7f7fa;
  border: none; }

.navbar-toggler {
  font-size: 1rem;
  line-height: 1;
  background: 0 0;
  border: none !important;
  border-radius: 0 !important; }

.card {
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  z-index: 0; }

.card-img-top {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.card-image {
  border-radius: 4px 4px 0 0; }
  .card-image img {
    opacity: 1;
    -webkit-transition: .1s ease-in;
    -moz-transition: .1s ease-in;
    -o-transition: .1s ease-in;
    -ms-transition: .1s ease-in;
    transition: .1s ease-in; }
  .card-image img:hover {
    opacity: .6; }

.card-body {
  padding: 1em;
  color: #666; }
  .card-body a {
    color: #444; }

.card-title:before {
  content: "// "; }

.card-title {
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  margin-bottom: 2px; }

.card-text {
  font-weight: 300;
  font-size: .9em; }
